.footer {
    display: flex;
    justify-content: space-between;
    color: #cdd6f4;
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100vw;
    background-color: #181825;
    padding: 20px;
}