.songRow {
    margin-left: 1.5rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    z-index: 100;
}
.songRow:hover {
    cursor: pointer;
    background-color: #f2cdcd;
    opacity: 0.8;
}
.songRow-info {
    margin-left: 1.5rem;
}
.songRow-info > h1 {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.songRow-album {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}